*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.center{
  max-width: 1400px;
  margin: 0 auto;
}

button{
  padding: 5px 30px;
}
input{
  padding: 5px 30px;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}